# Git
.git
.gitignore

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.venv
venv
env

# Jupyter
.ipynb_checkpoints
*.ipynb

# Node
node_modules
frontend/node_modules
dist
frontend/dist

# Env
.env
secrets/

# Docker
Dockerfile
.dockerignore
backend/Dockerfile
frontend/Dockerfile
